{% extends 'base_blog/base.html' %}
{% block content %}


<style>
    #header.header-transparent {
        background: #1e4356 !important;
    }
    
        .breadcrumbs ol li + li::before {
        display: inline-block;
        padding-right: 10px;
        padding-left: 10px;
        color: #6c757d;
        content: " / ";
    }
</style>


{% block title %}
دانش آزاد | {{title}}
{% endblock title %}

<main id="main">

    <!-- ======= Contact Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>ارتباط</h2>
          <ol>
            <li><a href="{% url 'blog:home' %}">صفحه اصلی</a></li>
            <li>ارتباط</li>
          </ol>
        </div>

      </div>
    </section><!-- End Contact Section -->

    <!-- ======= Contact Section ======= -->
    <section class="contact" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
      <div class="container">

        <div class="row">

          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="fab fa-telegram"></i>
                  <h3>تلگرام</h3>
                  <p><a href="https://t.me/FreeKnowledgeOfficial">@FreeKnowledgeOfficial</a></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="fas fa-envelope"></i>
                  <h3>ایمیل</h3>
                  <p><a href="mailto:freeknowledge@protonmail.com">freeknowledge@protonmail.com</a></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                <i class="fab fa-github"></i>
                  <h3>گیت هاب</h3>
                  <p><a href="https://github.com/DrM0h4MM4d">DrM0h4MM4d</a></p>
                </div>
              </div>
            </div>

          </div>


        <div class="col-lg-6">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="نام شما" required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="ایمیل شما" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="موضوع" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="5" placeholder="پیام" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">ارسال پیام</button></div>
          </form>
        </div>
        </div>

      </div>
    </section><!-- End Contact Section -->

    

  </main><!-- End #main -->

{% endblock %}