{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


<script>
  $("id_slug").change(()=>{
    $.ajax({
      data: {"challenge_slug": $this.value},
      url: "{% url 'account:aj-sl-val' %}",
      success: function (response){
      if (response.is_taken == true) {
        if ($("#slugError").length == 0){
          $('#id_slug').removeClass('is-valid').addClass('is-invalid');
          $('#id_slug').after('<div class="invalid-feedback d-block" id="slugError">چالشی ای با این نشانی وجود دارد!</div>')
        }
      }
      else {
        $('#id_slug').removeClass('is-invalid').addClass('is-valid');
        $('#slugError').remove();
      }

      },
    })
  })
</script>


<div class="main-panel">
    <div class="content-wrapper">
      <div id="msg"></div>
      <div class="page-header">
        <h3 class="page-title"> چالش جدیدت را بنویس </h3>
        <nav aria-label="breadcrumb" dir="ltr" class="text-right">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">داشبورد</a></li>
            <li class="breadcrumb-item active" aria-current="page">افزودن چالش</li>
          </ol>
        </nav>
      </div>
      <div class="row">
        
        <div class="col-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">چالش جدید</h4>
              <p class="card-description"> اطلاعات مربوط به چالش را وارد کنید </p>
              <form class="forms-sample" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                    <div class="form-group">
                      {{form|crispy}}  
                    </div>
                    <div class="col text-center">
                      <input type="submit" class="btn btn-primary" value="افزودن چالش">                    
                    </div>
                  </form>
                </div>
            </div>
        </div>

{% endblock %}