{% extends 'base/base.html' %} {% load static %} {% block content %}

<script>




function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}


    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

function clickKon(pk){
    window._id = pk;
    $("#exampleModal").modal('show');
}

$(document).ready(function(){
  $("#delete").click(()=>{
      $.ajax({
          url: "{% url 'account:article-delete' %}",
          method: "post",
          headers: {"X-CsrfToken": getCookie('csrftoken')},
          data: {'id': window._id},
          success: async function(response){
              if (response.success){
                  
                var eleid = parseInt(window._id);
                // $(`#${eleid}`).css({'display': 'none'})  
                $(`#${eleid}`).hide('2000');

                  $("#exampleModal").modal('hide');
                  $("#msg").addClass('alert alert-success').text('مقاله موردنظر حذف شد.')
                  $(document).scrollTop();
                  await sleep(5000);
                  $("#msg").removeClass('alert alert-danger').text('')
              }
              else if (response.permissionError){
                  $('#exampleModal').modal('hide');
                  $('#msg').addClass('alert alert-danger').text('این مقاله متعلق به شما نیست!')
              }
          }
      })
  })
});

</script>

    
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">مطمئنی میخوای این مقاله رو حذف کنی؟</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            اگه حذفش کنی دیگه نمیتونی برش گردونی دوست عزیز!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">لغو</button>
          <button type="button" class="btn btn-danger" id="delete">حذف</button>
        </div>
      </div>
    </div>
  </div>



{% if user.is_superuser %}

<div class="main-panel">
    <div class="content-wrapper">
        <div id="msg">

        </div>
        <div class="page-header">
            <h3 class="page-title"> لیست مقالات </h3>
            <nav aria-label="breadcrumb" dir="ltr" class="text-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">داشبورد</a></li>
                    <li class="breadcrumb-item active" aria-current="page">همه مقالات</li>
                </ol>
            </nav>
        </div>
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">مقالات</h4>
                    <p class="card-description"> لیست مقالات
                    </p>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th> # </th>
                                    <th> نام مقاله </th>
                                    <th> توضیحات مقاله </th>
                                    <th>دسته بندی مقاله</th>
                                    <th>نویسنده مقاله</th>
                                    <th>نیازمند لاگین</th>
                                    <th>تاریخ انتشار</th>
                                    <th>تاریخ ویرایش</th>
                                    <th>
                                        وضعیت
                                    </th>
                                    <th>
                                        بررسی دسته
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in all_posts %}
                                <tr id="{{i.pk}}">
                                        <td><img src="{{ i.image.url }}"></td>
                                        <td> {{i.title}} </td>
                                        <td>{{i.text|truncatechars:"20"}}</td>
                                        <td>
                                            {% for i in i.category.all %} {{i.title}} ، {% endfor %}
                                        </td>
                                        <td>{{i.author.username}}</td>
                                        <td>{{i.login_required}}</td>
                                        <td>{{i.jdate_cr}}</td>
                                        <td>{{i.jdate_up}}</td>
                                        <td>{{i.published}}</td>
                                        <td>
                                            <div class="text-center">
                                                <a class="btn btn-sm btn-primary" href="{% url 'account:article-update' i.pk %}">ویرایش </a>
                                                <button type="button" onclick="clickKon('{{i.pk}}');" class="btn btn-danger btn-sm" value="{{i.pk}}" id="myBtn">حذف</button>

                                                <a class="btn btn-sm btn-success" href="{% url 'account:article-preview' i.pk %}">پیش نمایش </a>
                                            </div>
                                        </td>
                                </tr>
                                {% empty %}
                                <p class="text-bold text-danger text-center">هنوز مقاله ای وجود ندارد.</p>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        {% elif user.is_author %}

        <div class="main-panel">
            <div class="content-wrapper">
                <div class="page-header">
                    <h3 class="page-title"> لیست مقالات من </h3>
                    <nav aria-label="breadcrumb" dir="ltr" class="text-right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">داشبورد</a></li>
                            <li class="breadcrumb-item active" aria-current="page"> همه مقالات من</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">مقالات</h4>
                            <p class="card-description"> لیست مقالات من
                            </p>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th> # </th>
                                            <th> نام مقاله </th>
                                            <th> توضیحات مقاله </th>
                                            <th> دسته بندی مقاله</th>
                                            <th> نویسنده مقاله</th>
                                            <th> نیازمند لاگین</th>
                                            <th> تاریخ انتشار</th>
                                            <th> تاریخ ویرایش</th>
                                            <th>
                                                وضعیت
                                            </th>
                                            <th>
                                                بررسی دسته
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in all_posts %}
                                        <tr id="{{i.pk}}">
                                            
                                                <td><img src="{{ i.image.url }}"></td>
                                                <td> {{i.title}} </td>
                                                <td>{{i.text|truncatechars:"20"}}</td>
                                                <td>
                                                    {% for i in i.category.all %} {{i.title}} ، {% endfor %}
                                                </td>
                                                <td>{{i.author.username}}</td>
                                                <td>{{i.login_required}}</td>
                                                <td>{{i.jdate_cr}}</td>
                                                <td>{{i.jdate_up}}</td>
                                                {% if i.published == 'd' or i.published == 'b' %}
                                                <td>درحال نوشتن</td>
                                                {% elif i.published == 'p' or i.published == 'i' %}
                                                <td>در انتظار</td>
                                                {% endif %}
                                                <td>
                                                    {% if i.published == 'd' or i.published == 'b' %}
                                                    <div class="text-center">
                                                        <a class="btn btn-sm btn-primary" href="{% url 'account:article-update' i.pk %}">ویرایش </a>

                                                        <button type="button" onclick="clickKon('{{i.pk}}');" class="btn btn-danger btn-sm" value="{{i.pk}}" id="myBtn">حذف</button>

                                                        <a class="btn btn-sm btn-success" href="{% url 'account:article-preview' i.pk %}">پیش نمایش
                            </a>
                                                        <a class="btn btn-sm btn-warning" href="{% url 'account:article-wrote' i.pk %}">اتمام
                              نوشتن</a>
                                                    </div>
                                                    {% elif i.published == 'p' or i.published == 'i' %}
                                                    <div>
                                                        {% if i.backed_description %}
                                                        <p>{{i.backed_description}}</p>
                                                        {% else %}
                                                        <p>:)</p>
                                                        {% endif %}
                                                    </div>
                                                    {% endif %}
                                                </td>
                                        </tr>
                                        {% empty %}
                                        <p class="text-bold text-danger text-center">هنوز مقاله ای ننوشتی.</p>
                                        {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                {% elif not user.is_author and not user.is_superuser and user.is_active and user.is_authenticated %}
                <div class="main-panel">
                    <div class="content-wrapper">
                        <div class="page-header">
                            <h3 class="page-title"> لیست مقالات لایک شده</h3>
                            <nav aria-label="breadcrumb" dir="ltr" class="text-right">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">داشبورد</a></li>
                                    <li class="breadcrumb-item active" aria-current="page"> همه مقالات مورد علاقه</li>
                                </ol>
                            </nav>
                        </div>
                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">مقالات مورد علاقه</h4>
                                    <p class="card-description"> لیست مقالات مورد علاقه
                                    </p>
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th> # </th>
                                                    <th> نام مقاله </th>
                                                    <th> توضیحات مقاله </th>
                                                    <th>دسته بندی مقاله</th>
                                                    <th>نویسنده مقاله</th>
                                                    <th>نیازمند لاگین</th>
                                                    <th>تاریخ انتشار</th>
                                                    <th>تاریخ ویرایش</th>
                     
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for i in all_posts %}
                                                <tr>
                                                    <div id="{{i.pk}}">

                                                        <td><img src="{{ i.image.url }}"></td>
                                                        <td> {{i.title}} </td>
                                                        <td>{{i.text|truncatechars:"20"}}</td>
                                                        <td>
                                                            {% for i in i.category.all %} {{i.title}} ، {% endfor %}
                                                        </td>
                                                        <td>{{i.author.username}}</td>
                                                        <td>{{i.login_required}}</td>
                                                        <td>{{i.jdate_cr}}</td>
                                                        <td>{{i.jdate_up}}</td>
                                                        <td>{{i.published}}</td>
                                                    </div>
           
                                                </tr>
                                                {% empty %}
                                                <p class="text-bold text-danger text-center">هنوز مقاله ای وجود ندارد.</p>
                                                {% endfor %}
                                            </tbody>
                                        </table>

                                    </div>
                                    </div>
                                    </div>
                                    </div>
                    </div>
                </div>
        </div>
    </div>
</div>
                                


                        {% endif %} {% endblock %}