{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="main-panel">
    <div class="content-wrapper">
      <div id="msg"></div>
      <div class="page-header">
        <h3 class="page-title"> ویرایش مقالات </h3>
        <nav aria-label="breadcrumb" dir="ltr" class="text-right">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">داشبورد </a></li>
            <li class="breadcrumb-item active" aria-current="page"> ویرایش مقاله</li>
          </ol>
        </nav>
      </div>
      <div class="row">
        
        <div class="col-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">ویرایش مقاله </h4>
              <p class="card-description"> اطلاعات مربوط به مقاله را وارد کنید </p>
              <form class="forms-sample" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                    <div class="form-group">
                      {{form|crispy}}  
                    </div>
                    <div class="col text-center">
                      <input type="submit" class="btn btn-primary" value="افزودن مقاله">                    
                    </div>
                  </form>
                  {{form.media}}
                </div>
            </div>
        </div>

{% endblock %}