{% load crispy_forms_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="fa">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>دانش آزاد | پسورد شما تغییر یافت</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'assets/css/rtl.css' %}">

    <!-- End layout styles -->
  </head>
  <body class="rtl text-right">
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
          <div class="content-wrapper">
             <div class="card">
                 <div class="card-title">
                    پسورد شما با موفقیت تغییر یافت
                 </div>
                 <div class="card-body">
                  <a href="{% url 'account:dashboard' %}">داشبورد</a>
                 </div>
             </div>
          </div>
       </div>
    </div>
  </body>