{% extends 'base/base.html' %}
{% block content %}

<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title"> تغییر پسورد </h3>
      <nav aria-label="breadcrumb" dir="ltr" class="text-right">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">تغییر پسورد</a></li>
          <li class="breadcrumb-item active" aria-current="page">پسورد خود را تغییر دهید</li>
        </ol>
      </nav>
    </div>
    <div class="row">
      
      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">تغییر پسورد</h4>
            <p class="card-description"> با پرکردن فرم زیر پسورد خود را تغییر بدید </p>
            <form class="forms-sample" method="POST">
              {% csrf_token %}
                  <div class="form-group">
                    {{form.as_p}}
                  </div>
              
                  <div class="col text-center">
                    <input type="submit" class="btn btn-primary" value="ذخیره اطلاعات">                    
                  </div>
                </form>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

{% endblock %}